@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    min-height: 100vh;
    padding: 0;
    display: flex;
    overscroll-behavior-y: none;
}

#root {
    height: 100%;
    width: 100%;
    @apply h-full w-full font-sans;
}

input {
    @apply text-gray-800;
}

